# Auto detect text files and perform LF normalization
* text=auto

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg binary
*.pdf binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.map binary
